.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 100px repeat(2, 200px) 350px;
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 6; }
.div3 { grid-area: 2 / 3 / 3 / 6; }
.div4 { grid-area: 3 / 3 / 4 / 6; }
.div5 { grid-area: 2 / 1 / 4 / 3; }
.div6 { grid-area: 4 / 1 / 5 / 4; }
.div7 { grid-area: 4 / 4 / 5 / 6; }